.swagger-section #header {
    background-color: #58595b;
    padding: 9px 14px 35px 14px;
    height: 23px;
    min-width: 775px;
}

.swagger-section #explore,
.swagger-section #auth_container .authorize__btn {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 8px;
    font-size: 0.9em;
    color: white;
    background-color: #3fadc2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

    .swagger-section #explore:hover,
    .swagger-section #auth_container .authorize__btn:hover {
        background-color: #3fadc2;
    }

.swagger-section #header #logo {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

    .swagger-section #header #logo .logo__img {
        display: block;
        float: left;
        margin-top: 2px;
        height: 39px;
        width: 180px;
        content: url("logo.png");
    }

    .swagger-section #header #logo .logo__title {
        display: inline-block;
        padding: 5px 0 0 10px;
        text-indent: -9999px;
    }

.swagger-section #select_document {
    visibility: hidden;
}

    .swagger-section #select_document .authorize__btn {
        background-color: #3fadc2;
    }

        .swagger-section #select_document:hover,
        .swagger-section #select_document .authorize__btn:hover {
            background-color: #3fadc2;
        }

.swagger-section #input_baseUrl {
    visibility: hidden;
}
